.detailCard{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 40px;
    width: fit-content;
    padding: 30px;}

.detailContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.DetailImg{
    height: 230px;
    width: 230px;
}