.CardItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    &:hover{        
        border: 1px grey;
        box-shadow: 1px 2px 5px black}
}

.ItemImg{
    height: 350px;
    width: 270px;
    margin-bottom: 15px;
}