.navbar{
    background-color: #cb773d;
    margin-bottom: 20px;
}

.navbar-nav{
    display: flex;
    gap: 30px;
}


.NavbarLogos{
    height: 300px;
    width: 100%;
}

.tituloNavbar a{
    text-decoration: none;
    color: #1d1c21;
    font-size: 110px;
    font-weight: bold;
    text-shadow: 4px 3px white;
    margin: 0px;
    height: 140px;
}

.navbar-brand{
    margin: 0px;
}

.container-fluid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.categoria{
    color: white;
    font-size: 30px;
    text-decoration: none;
}
