.CarritoContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.carrito{
    color: black;
    font-size: 30px;
    text-decoration: none;
    &:hover{
        color: white;
        border-radius: 1px solid;
    }
}

.carrito-logo{
    height: 30px;
    width: 30px;
}